:root {
  --main-color: #212121;
}
:root {
  --button-color: #2196f3;
}
:root {
  --paragraph-color: #757575;
}
:root {
  --icon-header-color: #757575;
}
:root {
  --button-portfolio-background:rgba(245, 244, 250, 1)
}
:root {
  --card-set-gap: 30px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--main-color);
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.gallery-footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-footer-adress:hover {
  color: var(--button-color);
}

.gallery-footer-adress,
.gallery-footer-adress:hover {
  text-decoration: none;
}

.gallery-footer {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-style {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery-footer:hover {
  color: var(--button-color);
}

.gallery-footer,
.gallery-footer:hover {
  text-decoration: none;
}
.logo-footer {
  margin-bottom: 20px;
  display: block;
}
.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}
.what-we-can-do .navigation-item:not(:last-child) {
  margin-right: 40px;
}
.team-section .what-we-can-do-list-section {
  padding-bottom: 90px;
}

/* Header Main */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 70px;
}
span {
  color: var(--button-color);
}
.gallery {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
}
.gallery:hover,
.gallery:focus {
  color: var(--button-color);

}
.gallery,
.gallery:hover {
  text-decoration: none;
}
.gallery:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  bottom:0;
  left:0;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-on-site {
  display: flex;
  justify-content: center;
}

.contact-number,
.contact-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  list-style: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  margin-right: 30px;
}
.icon-envelope-2 {
  fill: #757575;
  margin-right:10px;
}
.contact-mail:hover .icon-envelope-2,
.contact-mail:focus .icon-envelope-2 {
  fill: rgba(33, 150, 243, 1);
}
.icon-smartphone {
  fill: #757575;
  margin-right: 10px;
}
.contact-number:hover .icon-smartphone,
.contact-number:focus .icon-smartphone {
  fill: rgba(33, 150, 243, 1);
}

.contact-mail:hover,
.contact-mail:focus {
  color: #2196F3;
}
.contact-number:hover,
.contact-number:focus {
  color: #2196F3;
}

/* Body Main*/

.title {
  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solutions-title {
  padding: 200px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/команда.jpg");
  background-size: 1600px 600px;
  background-position:absolute;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.solutions {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.make-order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color:#FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
  transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.make-order-button:hover,
.make-order-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  fill: solid;
  transition:opacity 250ms, visibility hidden;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  padding:0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 94px 0;
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
} 
.advantage-list .title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.advantage-list .advantage-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.advantage-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
.advantage-icons {
  fill: rgba(33, 33, 33, 1);
  background-color: #F5F4FA;
}

.about-us {
  padding-top: 0px;
}
.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.our-projects-list {
  display: flex;
}
.our-projects-item:not(:last-child) {
  margin-right: 30px;
}
.our-projects-item {
  position: relative;
}
.about-us .our-projects-item::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}
.projects-list {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
}
.team-section {
  background-color: #f5f4fa;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.our-masters {
  display: flex;
}
.our-masters:not(:last-child) {
  margin-left: 30px;
  margin-right: 215px;
}
.our-master-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Igor {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Product-Designer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}
.Olha {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Frontend-Developer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}
.Nikolaj {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Marketing {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}
.Mihail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.UI-Designer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}
.card-set-masters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}
.card-set-masters>.our-masters-team {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition-property: border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-masters>.our-masters-team:hover,
.card-set-masters>.our-masters-team:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icons-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-list-list:not(:last-child) {
  margin-right: 10px;
}
.icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons:hover,
.icons:focus {
  fill:#FFFFFF;
}

.social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon:hover,
.social-list-icon:focus {
  background-color: #2196F3;
}
.social-list-icon:hover .icons,
.social-list-icon:focus .icons {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196F3;
}

.clients {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.clients-item {
  display: flex;
  flex-wrap: wrap;
}
.clients-list:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  border-color: rgba(175, 177, 184, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: rgba(33, 150, 243, 1)
}
.clients-icon {
  fill:#AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: rgba(33, 150, 243, 1);
  border-color: rgba(33, 150, 243, 1);
}
.join-us-links {
  margin-left: 70px;
}
.join-us-item {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-container {
  display:flex; 
  align-items: baseline;
}
.social-list-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon-footer:hover .icons-footer,
.social-list-icon-footer:focus .icons-footer {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196F3;
}
.icons-footer:hover,
.icons-footer:focus {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196f3;
}
.social-list-icon-footer:hover,
.social-list-icon-footer:focus {
  fill: rgba(255, 255, 255, 1);
  background-color: #2196F3;
}

.icons-footer {
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list-item-footer {
  display: flex;
  align-items: center;
}
.icons-list-list-footer:not(:last-child) {
  margin-right: 10px;
}
/*Body Portfolio*/

.navigation-on-site-portfolio {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.button-portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  background-color: var(--button-portfolio-background);
  color: rgba(33, 33, 33, 1);
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition-property: background-color,color,box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #f5f4fa;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);;
}
.project-item-list {
  border: 1px solid #eeeeee;
}
.projects-item {
  padding: 20px 24px;
  position:relative;
  overflow: hidden;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 250ms ease;
  background: rgba(33, 150, 243, 0.9);
}
.projects-item:hover.overlay,
.projects-item:focus.overlay {
  transform: translateX(0);
  background: rgba(33, 150, 243, 0.9);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set > .project-item-list {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  background: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-list:hover,
.project-item-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item-list-list {
  text-decoration: none;
}
.google-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.graphics {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.applications {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.business {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.projects {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}