:root {
  --main-color: #212121;
}
:root {
  --button-color: #2196f3;
}
:root {
  --paragraph-color: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--main-color);
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-on-site {
  display: flex;
  justify-content: center;
}
.navigation-on-site-portfolio {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.our-projects-list {
  display: flex;
}
.our-projects-item:not(:last-child) {
  margin-right: 30px;
}
.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.button-portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.title {
  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 94px 0;
}
.our-masters {
  display: flex;
}
.advantage-list {
  display: flex;
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
}
.our-advantages {
  display: flex;
  flex-wrap: wrap;
}
.about-us {
  padding-top: 0px;
}

/* header */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 70px;
}
span {
  color: var(--button-color);
}

.what-we-can-do .navigation-item:not(:last-child) {
  margin-right: 40px;
}
.team-section .what-we-can-do-list-section {
  padding-bottom: 90px;
}
.gallery {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.gallery:hover {
  color: var(--button-color);
}
.gallery,
.gallery:hover {
  text-decoration: none;
}
.contact-number,
.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  list-style: none;
}
.contact-mail,
.contact-number:not(:last-child) {
  margin-right: 40px;
}
.contact-number:hover {
  color: var(--button-color);
}
.contact-mail:hover {
  color: var(--button-color);
}

/* body */
.solutions-title {
  background-color: #2f303a;
  padding: 200px 0;
}
.solutions {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.make-order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: var(--main-color);
  border: 1px solid #000000;
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
}
.make-order-button:hover,
.make-order-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}
.button-portfolio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  color: var(--main-color);
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #f5f4fa;
  background-color: #2196f3;
}

.advantage-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.advantage-list .advantage-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.team-section {
  background-color: #f5f4fa;
}
.our-masters:not(:last-child) {
  margin-left: 30px;
  margin-right: 215px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.our-masters-team:not(:last-child) {
  margin-right: 30px;
}
.our-master-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.Igor {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Product-Designer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.Olha {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Frontend-Developer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.Nikolaj {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.Marketing {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.Mihail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.UI-Designer {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -24px;
}
.card-set > .project-item-list {
  flex-basis: calc(100% / 3 -24px);
  margin-left: 24px;
  margin-top: 30px;
  background: #ffffff;
}
.projects-item {
  padding: 20px 24px;
}
.project-item-list {
  border: 1px solid #eeeeee;
}
.google-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.graphics {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.applications {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.business {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.projects {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}
.gallery-footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.gallery-footer-adress:hover {
  color: var(--button-color);
}
.gallery-footer-adress,
.gallery-footer-adress:hover {
  text-decoration: none;
}
.gallery-footer {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-style {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.gallery-footer:hover {
  color: var(--button-color);
}
.gallery-footer,
.gallery-footer:hover {
  text-decoration: none;
}
.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}
